services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
      - CONFIG_FILE_PATH=${CONFIG_FILE_PATH}
      - PROJECT_ID=${PROJECT_ID}
      - LOCATION=${LOCATION}
    networks:
      - delta-network
    env_file:
      - .env
      - ./backend/.env
    command: /app/start.sh

  frontend:
    build:
      context: .
      dockerfile: frontend/my-avatar-app/Dockerfile
      args:
        - BUILDKIT_INLINE_CACHE=1
    ports:
      - "8080:80"
    networks:
      - delta-network
    environment:
      - VITE_APP_API_BASE_URL=https://delta-backend-zom0.onrender.com
    env_file:
      - .env

networks:
  delta-network:
    driver: bridge