fastapi
uvicorn
pydantic==2.*
SQLAlchemy
alembic
bcrypt
python-jose[cryptography]
passlib[recommended]
python-dotenv
httpx
psycopg2-binary
PyYAML
requests
email-validator==2.1.0.post1
Pillow
google-genai
google-cloud-aiplatform
openai
bs4
asyncpg
google-auth
google-cloud-storage
google-cloud-texttospeech>=2.12.0
google-api-core>=2.11.0
google-cloud-vision
grpcio>=1.51.0
