fastapi
uvicorn
pydantic==2.*
SQLAlchemy
alembic




python-dotenv
bcrypt
httpx

psycopg2-binary
PyYAML
requests
email-validator==2.1.0.post1
Pillow
Anthropic
google-cloud-aiplatform
openai
requests
bs4
asyncpg
google-generativeai